

.card .profile-pic{
    width: 50px;
    height: 50px;
}
.card button{
    font-weight: 600;
    font-size:larger;
}
.card .modal img{
    height: 200px;
    
}
.card .modal textarea{
    border: none;
}
.card .head_post{
    gap: 10px;
    justify-content: center;
}
.card .dropdown .point{
    margin:0 0 3px 300px ;
}

.fiter{
    justify-content: end;
}
.modal .modal-body .card .card-body .candidature{
    gap: 250px;
}
 /* Candidat offres  */
 table tbody tr th {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red !important; */
 }
 table th img {
    width: 50px;
    height: 50px;
 }
 