@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');


/* div {
    border: 1px solid red;
    margin-bottom: 2px;
} 
span {
    border: 1px solid green;
    margin-bottom: 8px;
}    */

body{
    /* background-color: blue; */
    position: relative;
    height: 500px;
    font-family: "Nunito";
}
*{
    margin-bottom: 4px;
 }
 .container-fluid { 
    display: flex; 
    height: auto;
    width: 100%;
    height: 100%; 
}
/* cont1 */
.cont-1{
    background-color: #3e3e3e;
  
    justify-content: center;
 }
/* face1 */
.face-1{
    background-color: #3e3e3e ;
}
.face-1{
    color: beige !important;
}
 
 /* profile */
 .face-1 .cont-1>div , 
 .face-1 .cont-2>div{
margin-bottom: 20px;

}
 /* .photo de profile */
 .face-1 .cont-1 .photos {
width: 100%;
display: flex;
justify-content: center;
 }
 .face-1 .cont-1 .photo-1 {
    position: relative;
    width: 150px;
    height: 150px;

 }
 .face-1 .cont-1 .photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
 }
  
 /* name */
 .name{
    display: flex;
    justify-content: center;
    color: azure;
 }
 /* domain */
 .domain{
    display: flex;
    justify-content: center;

 }
 /* edite */
 .edit{
    position: relative;
    width: 90%;
}
.edit .mode {
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    background-color: #c6d0d2;
    border-radius: 8px;
    width: 100%;

 }
 .modal{
    /* background-color: rgb(135, 206, 222); */
}
.modal-dialog{
    max-width: 800px; /* adjust the value to your desired width */
    width: 80%; /* fallback for older browsers */
}
.modal-content{
    /* background-color: rgb(148, 237, 100); */
    color: #3c4240;
}
.tags-1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.tags-1 .imag{
    /* display: flex;
    justify-content: center; */
}
.tags-1 .imag a{
    align-self: center;
    object-fit: cover;
    padding-top: 2px;
    margin-top: 2px;
}
.tags-1 .desc{
    justify-content: center;
    align-self: center;
}
.tags-2{
    margin-top: 10px;
    padding-top: 5px;
}
.champ2 input{
    margin-bottom: 5px;
}
.champ3 input{
    margin-bottom: 5px;
}
.close {
    color: black;
}
/* cont2 */
.cont-2{
    background-color: #3c4240;
    height: 500px;
    color: beige;
    display: block;
    justify-content: center;

}
/* contacte */
.contacte {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 95%;
   

}
.contacte span {
    border-bottom: 1px solid white;
    padding: 5px;
   

}
.contacte span{
    padding-bottom:0px ;
    margin-bottom: 0.5px;
}

/* detaill */

.detaill{
    gap:10px;
}



/* cont2 */
/* face2 */
/* les sections */
section {
    margin: 50px 0 0 30px;
    position: relative;  
}
/* les icones */
.icon1,.icone2 ,.icone3 ,.icone4 , .icone5 , .icone6{
    color: #05BFDB;
    width: 25%;
}
.paragraphe{
    width: 78%;
    margin-left: 30px;
}
/* info profile */

.info{
    display: flex;
    width: 80%;
    /* width: 50%; */
    border-bottom: 2px solid rgb(24, 1, 1);
    margin-bottom: 20px;
    gap:20px;
  
}
.info span{
    font-weight: 500;
    justify-content:start;
 
   
}
 .info .icone2{
    width: 20%;

}
/* experience and diplome and reference */

.experience .fl span{
    display: flex;
    margin-bottom: 20px;
    margin-top: 0px;
    gap: 0.5px;
    margin-left: 20px;
    
}
.experience .fl{
    height: 30px;
    margin-top: 30px;
}


.par {
     /* display: flex; */
    margin-bottom: 20px;
    gap: 60px;
}

.par h6 {
     display: flex;
     align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.par h6 i{
    font-size: 10px;
}
